<a href="https://colab.research.google.com/github/hby1117/class2025Spring/blob/main/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises

01.

Three students, A, B, and C, scored 85, 92, and 76 on their math exam, respectively.
<br>
What is the average score, and which students scored above it?

In [ ]:
#@title Answer

score_a = 85
score_b = 92
score_c = 76

average_score = (score_a + score_b + score_c) / 3

print(f"A's score is over average: {score_a > average_score}")
print(f"B's score is over average: {score_b > average_score}")
print(f"C's score is over average: {score_c > average_score}")

02.

You have a phone number as a string and want to display it in a specific format (XXX-XXX-XXXX).
<br>
Use string slicing and concatenation to format the phone number.
<br>
<br>
Phone Number: 1234567890

In [ ]:
#@title Answer

number = "1234567890"
number_formatted = number[:3] + "-" + number[3:6] + "-" + number[6:]

print(number_formatted)

03.

You want to remove the last played song from your playlist A and move it to another playlist B.
<br>
<br>
playlist A: Song 1, Song 2, Song 3
<br>
playlist B: Song 4

In [ ]:
#@title Answer

list_a = ["Song 1", "Song 2", "Song 3"]
list_b = ["Song 4"]

song = list_a.pop()
list_b.append(song)

print(f"playlist A: {list_a}")
print(f"playlist B: {list_b}")

04.

Create a phonebook as a dictionary and access Emily's phone number.
<br>
<br>
Phonebook:
<br>

|name|phone number|
|-|-|
|Emily|123-456-7890|
|Bob|987-654-3210|

In [ ]:
#@title Answer

phonebook = { "Emily": "123-456-7890", "Bob": "987-654-3210" }
print(phonebook["Emily"])

05.

Jane is 16 years old and is 153cm tall.
<br>
Check if Jane can ride a roller coaster.
<br>
<br>

To ride a roller coaster,
<br>
one should meet all these conditions:
1. over 150cm
2. over 15 years old

In [ ]:
#@title Answer

age = 16
height = 153

if age > 15 and height > 150:
  print("Jane can ride a roller coaster.")
else:
  print("Jane is not allowed to ride a roller coaster.")

06.

Assign A for scores >= 90, B for scores >= 80, C for scores >= 70, and D for the rest.

In [ ]:
scores = [85, 92, 78, 90, 69]
grades = []

# Start from here!

In [ ]:
#@title Answer

scores = [85, 92, 78, 90, 69]
grades = []

for score in scores:
  if (score >= 90):
    grades.append("A")
  elif (score >= 80):
    grades.append("B")
  elif (score >= 70):
    grades.append("C")
  else:
    grades.append("D")

print("grades:", grades)

07.

Simulate throwing the dice until number 6 comes out.
<br>
Use `while` loop and `random.randint()` function.

In [ ]:
import random

# Start from here!

In [ ]:
#@title Answer

import random

dice = 1

while dice != 6:
  dice = random.randint(1, 6)
  print("number:", dice)

08.

Define a function that takes the numerical score and returns the corresponding letter grade.
<br>
<br>
Grade thresholds:
<br>
A: 90 ~ 100
<br>
B: 80 ~ 89
<br>
C: 70 ~ 79
<br>
D: 60 ~ 69
<br>
F: 0 ~ 60

In [ ]:
#@title Answer

def convert_grade(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

09.

Convert a list of temperatures measured in Fahrenheit to Celsius using list comprehension, and store the results in a new list.
<br>
<br>
Formula: $C = \frac{5}{9}(F - 32)$

In [ ]:
f_temperatures = [50, -4, 41, 104]

# Start from here!
# Create c_temperatures list

In [ ]:
#@title Answer

f_temperatures = [50, -4, 41, 104]

c_temperatures = [5 / 9 * (f - 32) for f in f_temperatures]
print(f"Celsius: {c_temperatures}")

10.

Write each element from `groceries` to a file named `grocery.txt`.
<br>
Each element should occupy its own line.

In [ ]:
groceries = ["Apples", "Breads", "Milk"]

# Start from here!

In [ ]:
#@title Answer

groceries = ["Apples", "Breads", "Milk"]

with open("./grocery.txt", "w") as f:
  for product in groceries:
    f.write(f"{product}\n")